{{!include(^styles/.*/)}}
<!DOCTYPE html>
<html lang="en">
  {{>partials/head}}
  <body class="landing-page">
    <div class="page-wrapper">
      {{{conceptual}}}
    </div>
  </body>
  {{>partials/scripts}}
</html>
